{% if __SELF__.channel is not null %}
	<h3>
	{% if __SELF__.feedPage is not null %}
		<a href="{{ __SELF__.feedPage|page ({slug: __SELF__.channel.slug }) }}">
			{{ __SELF__.channel.title }}
		</a>
	{% else %}
		{{ __SELF__.channel.title }}
	{% endif %}
	</h3>
	{% if __SELF__.items is not null %}
		{% for item in __SELF__.items %}
			<ul>
				<li>
					<a href ="{{ item.link }}" target="_blank">{{ item.title }}</a>
					{% if __SELF__.showFull %}
						<p>
							{{ item.pubDate }}
							{{ item.description|raw }}
						</p>
					{% endif %}
				</li>
			</ul>
		{% endfor %}
	{% endif %}
{% endif %}
