{% if __SELF__.channel is not null %}
	<h3>
	{% if __SELF__.feedPage is not null %}
		<a href="{{ __SELF__.feedPage|page ({ slug: __SELF__.channel.slug }) }}">
			{{ __SELF__.channel.title }}
		</a>
	{% else %}
		{{ __SELF__.channel.title }}
	{% endif %}
	</h3>
	{% if __SELF__.items is not null %}
		{% for item in __SELF__.items %}
			<ul>
				<li>
					<a href ="{{ item.link }}" target="_blank">{{ item.title }}</a>
					{% if __SELF__.showFull %}
						<p>
							{{ item.pubDate }}
							{{ item.description|raw }}
						</p>
					{% endif %}
				</li>
			</ul>
		{% endfor %}
	{% endif %}

	{% if __SELF__.items.lastPage > 1 and __SELF__.showPager %}
		<ul class="pagination">
			{% if __SELF__.items.currentPage > 1 %}
				<li><a href="{{ this.page.baseFileName|page ({ slug: __SELF__.channel.slug, page: (__SELF__.items.currentPage-1) }) }}">&larr; Prev</a></li>
			{% endif %}

			{% for itemNumber in 1..__SELF__.items.lastPage %}
				<li class="{{ __SELF__.items.currentPage == itemNumber ? 'active' : null }}">
					<a href="{{ this.page.baseFileName|page ({ slug: __SELF__.channel.slug, page: itemNumber }) }}">{{ itemNumber }}</a>
				</li>
			{% endfor %}

			{% if __SELF__.items.lastPage > __SELF__.items.currentPage %}
				<li><a href="{{ this.page.baseFileName|page ({ slug: __SELF__.channel.slug, page: (__SELF__.items.currentPage+1) }) }}">Next &rarr;</a></li>
			{% endif %}
		</ul>
	{% endif %}
{% endif %}
